<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
    </style>
    <title>Using built-in search filters</title>
</head>
<body>
    <h1>Using built-in search filters</h1>

    <div ng-app="myApp">
        <div ng-controller="Ctrl">
            <input type="text" ng-model="search.val" />
            <p ng-repeat="user in users | filter : search.val">{{ user }}</p>
        </div>
    </div>

</body>
<script src="../JavaScripts/jquery-1.11.2.js"></script>
<script src="../JavaScripts/angular.js"></script>
<script>

    angular.module('myApp', [])
        .controller('Ctrl', function ($scope) {
            $scope.users = [
                'Albert Pai',
                'Jake Hsu',
                'Jack Hanford',
                'Scott Robinson',
                'Diwank Singh'
            ];
        });

</script>
</html>
