<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../JavaScripts/angular-csp.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <style>
        .target.ng-enter
        {
            transition: all linear 1s;
            opacity: 0;
        }

            .target.ng-enter.ng-enter-active
            {
                opacity: 1;
            }
    </style>
    <title>Creating enter animations with ngIf</title>
</head>
<body>
    <h1>Creating enter animations with ngIf</h1>
    <div ng-app="myApp">
        <div ng-controller="Ctrl">
            <button ng-click="visible=!visible">Toggle</button>
            <span class="target" ng-if="visible">Bring me in!</span>
        </div>
    </div>
</body>
<script src="../JavaScripts/jquery-1.11.2.js"></script>
<script src="../JavaScripts/angular.js"></script>
<script src="../JavaScripts/angular-animate.js"></script>
<script>

    angular.module('myApp', ['ngAnimate'])
        .controller('Ctrl', function ($scope) {
            $scope.visible = true;
        });
</script>
</html>
