<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../JavaScripts/angular-csp.css" rel="stylesheet" />
    <style>
        
         
    </style>
    <title>Managing $scope inheritance 3</title>

    <script src="../JavaScripts/jquery-1.11.2.js"></script>
    <script src="../JavaScripts/angular.js"></script>
</head>
<body>
    <h1>Managing $scope inheritance 3</h1>
    <div ng-app="myApp">
        <div ng-controller="Ctrl" ng-init="data=123">
            <input ng-model="data" />
            <div ng-controller="Ctrl">
                <input ng-model="$parent.data" />
            </div>
            <div ng-controller="Ctrl">
                <input ng-model="$parent.data" />
            </div>
        </div>
    </div>

</body>
<script>
    angular.module('myApp', [])
    .controller('Ctrl', function () { })

</script>
</html>
