<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../JavaScripts/angular-csp.css" rel="stylesheet" />
    <style>
        
         
    </style>
    <title>ngInclude</title>

    <script src="../JavaScripts/jquery-1.11.2.js"></script>
    <script src="../JavaScripts/angular.js"></script>
</head>
<body>
    <h1>ngInclude</h1>

    <div ng-app="myApp">
        <div ng-controller="Ctrl" ng-init="data.val=123">
            Scope id: {{ $id }}
        <input ng-model="data.val" />
            <ng-include src="'innerTemplate.html'"></ng-include>
        </div>

        <script type="text/ng-template" id="innerTemplate.html">
            <div>
                Scope id: {{ $id }}
                <input ng-model="data.val" />
            </div>
        </script>
    </div>


</body>
<script>
    angular.module('myApp', [])
    .controller('Ctrl', function ($scope) {
        $scope.data = {
            val: 123
        };
    });
</script>
</html>
